.title {
  margin-left: 3%;
}
.container {
  border: 1px solid gray;
  box-shadow: 1px 1px 10px 5px lightgrey;
  padding: 1%;
}

.form-header {
  background: #ADD8E6;
}

.form-title {
  padding: 10px;
}

.bordered {
  border: 1px solid #ccc;
}
